
<app-header [moviesArr] = "moviesTrending"></app-header>
<div class="container ">
    <div class="row">
        <div class="col-md-4 position-relative">
            <div class="line mb-3 mt-5"></div>
            <h3 class="h2 fw-light">Trending<br>Movies<br>to Watch Now ..</h3>
            <p class="text-muted">Most Watched movies by day</p>
            <div class="line w-100 mt-3"></div>
        </div>
        <div *ngFor="let movie of moviesTrending" class="col-md-2 anime">
            <div class="movie position-relative">

                <a [routerLink]="['/moviedetails' , movie.id]">
                    <img [src]="imagePrefix+movie.poster_path" class="w-100" alt="">
                    <h3 class="h4 text-center">{{movie.title}}</h3>
                    <div class="position-absolute end-0 top-0 p-1 bg-primary">{{movie.vote_average}}</div>
                </a>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-4">
            <div class="line mb-3 mt-5"></div>
            <h3 class="h2 fw-light">Trending<br>tv<br>to Watch Now ..</h3>
            <p class="text-muted">Most Watched tv by day</p>
            <div class="line w-100 mt-3"></div>
        </div>
        <div *ngFor="let tv of tvTrending" class="col-md-2">
            <div class="movie position-relative anime">
                <img [src]="imagePrefix+tv.poster_path" class="w-100" alt="">
                <h3 class="h4 text-center">{{tv.name}}</h3>
                <div class="position-absolute end-0 top-0 p-1 bg-primary">{{tv.vote_average}}</div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-4">
            <div class="line mb-3 mt-5 "></div>
            <h3 class="h2 fw-light">Trending<br>people<br>to Watch Now ..</h3>
            <p class="text-muted">Most Watched people by day</p>
            <div class="line w-100 mt-3"></div>
        </div>
        <div *ngFor="let people of peopleTrending" class="col-md-2">
            <div class="movie position-relative anime">
                <img [src]="imagePrefix+people.profile_path" class="w-100" alt="">
                <h3 class="h4 text-center">{{people.name}}</h3>

            </div>
        </div>
    </div>

</div>